<!DOCTYPE HTML>
<html class="full">


<!-- Mirrored from remtsoy.com/tf_templates/traveler/demo_v1_7/login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 27 May 2017 14:14:26 GMT -->
<head>
    <title>FUTSALIO - Login Register
    </title>


    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="Template, html, premium, themeforest" />
    <meta name="description" content="Traveler - Premium template for travel companies">
    <meta name="author" content="Tsoy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
    <!-- /GOOGLE FONTS -->
    <%= stylesheet_link_tag "futsalio/bootstrap.css" %>
    <%= stylesheet_link_tag "futsalio/font-awesome.css" %>
    <%= stylesheet_link_tag "futsalio/icomoon.css" %>
    <%= stylesheet_link_tag "futsalio/styles.css" %>
    <%= stylesheet_link_tag "futsalio/mystyles.css" %>
    <%= javascript_include_tag('futsalio/modernizr.js') %>
</head>

<body class="full">

    <%  if flash[:notice] %>
      <script>alert("<%= flash[:notice] %>");</script>
    <% end %>
    <%  if flash[:danger] %>
      <script>alert("<%= flash[:danger] %>");</script>
    <% end %>

    <!-- FACEBOOK WIDGET -->
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "../../../../connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- /FACEBOOK WIDGET -->
    <div class="global-wrap">
        
        <div class="full-page">
            <div class="bg-holder full">
                <div class="bg-mask"></div>
                <div class="bg-img" style="background-color: black"></div>
                <div class="bg-holder-content full text-white">
                    <a class="logo-holder" href="index.html">
                        <img src="/img/futsalio.png" style="max-height: 42px" alt="Image Alternative text" title="Image Title" />
                    </a>
                    <div class="full-center">
                        <div class="container">
                            <div class="row row-wrap" data-gutter="60">
                                <div class="col-md-4">
                                    <div class="visible-lg">
                                        <h3 class="mb15">Welcome to Futsalio</h3>
                                        <p>Est nisl facilisis consectetur eget fermentum rutrum suscipit penatibus ultrices eu bibendum mi volutpat mattis cum facilisis nunc platea tincidunt vehicula laoreet montes parturient urna magnis eu etiam eget integer</p>
                                        <p>Nullam consectetur fames erat scelerisque ac conubia orci mauris facilisi</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h3 class="mb15">Masuk</h3>
                                    <form action="/login" method="post">
                                        <div class="form-group form-group-ghost form-group-icon-left"><i class="fa fa-envelope input-icon input-icon-show"></i>
                                            <label>Email</label>
                                            <input name="session[username]" class="form-control" placeholder="e.g. johndoe@gmail.com" type="text" />
                                        </div>
                                        <div class="form-group form-group-ghost form-group-icon-left" style="margin-bottom:15px;"><i class="fa fa-lock input-icon input-icon-show"></i>
                                            <label>Password</label>
                                            <input name="session[password]" class="form-control" type="password" placeholder="my secret password" />
                                        </div>
                                        <input class="btn btn-primary" name="login" type="submit" value="Masuk" />
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <h3 class="mb15">Belum Bergabung?</h3>
                                    <form method="post" action="save">
                                        <div class="form-group form-group-ghost form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                                            <label>Nama Lengkap</label>
                                            <input name="user_fullname" class="form-control" placeholder="e.g. John Doe" type="text" required />
                                        </div>
                                        <div class="form-group form-group-ghost form-group-icon-left"><i class="fa fa-mobile input-icon input-icon-show"></i>
                                            <label>Nomor HP</label>
                                            <input name="user_contact" class="form-control" placeholder="e.g. John Doe" type="text" required />
                                        </div>
                                        <div class="form-group form-group-ghost form-group-icon-left"><i class="fa fa-envelope input-icon input-icon-show"></i>
                                            <label>Email</label>
                                            <input name="username" class="form-control" placeholder="e.g. johndoe@gmail.com" type="text" required />
                                        </div>
                                        <div class="form-group form-group-ghost form-group-icon-left" style="margin-bottom:15px;"><i class="fa fa-lock input-icon input-icon-show"></i>
                                            <label>Password</label>
                                            <input name="user_password" class="form-control" type="password" placeholder="my secret password" required />
                                        </div>
                                        <input class="btn btn-primary" type="submit" value="Daftar" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="footer-links">
                            <li><a href="#">Tentang Futsalio</a>
                            </li>
                            <li><a href="#">Tim Kami</a>
                            </li>
                            <li><a href="#">Cara Pemesanan</a>
                            </li>
                            <li><a href="#">Karir</a>
                            </li>
                            <li><a href="#">Syarat & Ketentuan</a>
                            </li>
                            <li><a href="#">Kebijakan Privasi</a>
                            </li>
                        </ul>
                </div>
            </div>
        </div>



        <%= javascript_include_tag('futsalio/jquery.js') %>
        <%= javascript_include_tag('futsalio/bootstrap.js') %>
        <%= javascript_include_tag('futsalio/slimmenu.js') %>
        <%= javascript_include_tag('futsalio/bootstrap-datepicker.js') %>
        <%= javascript_include_tag('futsalio/bootstrap-timepicker.js') %>
        <%= javascript_include_tag('futsalio/nicescroll.js') %>
        <%= javascript_include_tag('futsalio/dropit.js') %>
        <%= javascript_include_tag('futsalio/ionrangeslider.js') %>
        <%= javascript_include_tag('futsalio/icheck.js') %>
        <%= javascript_include_tag('futsalio/fotorama.js') %>
        <%= javascript_include_tag('https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false') %>
        <%= javascript_include_tag('futsalio/typeahead.js') %>
        <%= javascript_include_tag('futsalio/card-payment.js') %>
        <%= javascript_include_tag('futsalio/magnific.js') %>
        <%= javascript_include_tag('futsalio/owl-carousel.js') %>
        <%= javascript_include_tag('futsalio/fitvids.js') %>
        <%= javascript_include_tag('futsalio/tweet.js') %>
        <%= javascript_include_tag('futsalio/countdown.js') %>
        <%= javascript_include_tag('futsalio/gridrotator.js') %>
        <%= javascript_include_tag('futsalio/custom.js') %>
    </div>
</body>


<!-- Mirrored from remtsoy.com/tf_templates/traveler/demo_v1_7/login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 27 May 2017 14:14:26 GMT -->
</html>




