        <footer id="main-footer">
            <div class="container">
                <div class="row row-wrap">
                    <div class="col-md-3">
                        <a class="logo" href="index.html">
                            <img src="img/futsalio.png" style="max-height: 42px" alt="Image Alternative text" title="Image Title" />
                        </a>
                        <p class="mb20">Cari, temukan, dan pesan lapangan futsal untuk membuat Kamu dan Teman-Teman Mu tetap segar dan bugar</p>
                        <ul class="list list-horizontal list-space">
                            <li>
                                <a class="fa fa-facebook box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-twitter box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-google-plus box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-linkedin box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-pinterest box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <h4>Informasi Diskon</h4>
                        <form>
                            <label>Masukan E-Mail Kamu</label>
                            <input type="text" class="form-control">
                            <p class="mt5"><small>*Kami tidak pernah mengirim spam</small>
                            </p>
                            <input type="submit" class="btn btn-primary" value="Berlangganan">
                        </form>
                    </div>
                    <div class="col-md-2">
                        <ul class="list list-footer">
                            <li><a href="#">Tentang Futsalio</a>
                            </li>
                            <li><a href="#">Tim Kami</a>
                            </li>
                            <li><a href="#">Cara Pemesanan</a>
                            </li>
                            <li><a href="#">Karir</a>
                            </li>
                            <li><a href="#">Syarat & Ketentuan</a>
                            </li>
                            <li><a href="#">Kebijakan Privasi</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4>Ada Pertanyaan?</h4>
                        <h4 class="text-color">+628 5775 3737 60</h4>
                        <h4><a href="#" class="text-color">cs@futsalio.com</a></h4>
                        <p>24/7 Siap Melayani</p>
                    </div>

                </div>
            </div>
        </footer>

        <%= javascript_include_tag('futsalio/jquery.js') %>
        <%= javascript_include_tag('futsalio/bootstrap.js') %>
        <%= javascript_include_tag('futsalio/slimmenu.js') %>
        <%= javascript_include_tag('futsalio/bootstrap-datepicker.js') %>
        <%= javascript_include_tag('futsalio/bootstrap-timepicker.js') %>
        <%= javascript_include_tag('futsalio/nicescroll.js') %>
        <%= javascript_include_tag('futsalio/dropit.js') %>
        <%= javascript_include_tag('futsalio/ionrangeslider.js') %>
        <%= javascript_include_tag('futsalio/icheck.js') %>
        <%= javascript_include_tag('futsalio/fotorama.js') %>
        <%= javascript_include_tag('https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false') %>
        <%= javascript_include_tag('futsalio/typeahead.js') %>
        <%= javascript_include_tag('futsalio/card-payment.js') %>
        <%= javascript_include_tag('futsalio/magnific.js') %>
        <%= javascript_include_tag('futsalio/owl-carousel.js') %>
        <%= javascript_include_tag('futsalio/fitvids.js') %>
        <%= javascript_include_tag('futsalio/tweet.js') %>
        <%= javascript_include_tag('futsalio/countdown.js') %>
        <%= javascript_include_tag('futsalio/gridrotator.js') %>
        <%= javascript_include_tag('futsalio/custom.js') %>
        <%= javascript_include_tag('futsalio/switcher.js') %>
        <%= javascript_include_tag('futsalio/select2/js/select2.js') %>
    </div>
</body>

</html>

