<!DOCTYPE HTML>
<html>

<head>
    <title>FUTSALIO - Home</title>


    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="Template, html, premium, themeforest" />
    <meta name="description" content="Traveler - Premium template for travel companies">
    <meta name="author" content="Tsoy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
    <!-- /GOOGLE FONTS -->
    <%= stylesheet_link_tag "futsalio/bootstrap.css" %>
    <%= stylesheet_link_tag "futsalio/font-awesome.css" %>
    <%= stylesheet_link_tag "futsalio/icomoon.css" %>
    <%= stylesheet_link_tag "futsalio/styles.css" %>
    <%= stylesheet_link_tag "futsalio/mystyles.css" %>
    <%= stylesheet_link_tag "futsalio/form.css" %>

    <%= stylesheet_link_tag "futsalio/bootstrap-datepicker/css/bootstrap-datepicker3.css" %>
    <%= stylesheet_link_tag "futsalio/select2/css/select2.css" %>
    <%= stylesheet_link_tag "futsalio/select2-bootstrap-theme/select2-bootstrap.min.css" %>
    <%= stylesheet_link_tag "futsalio/bootstrap-multiselect/bootstrap-multiselect.css" %>
    <%= stylesheet_link_tag "futsalio/bootstrap-tagsinput/bootstrap-tagsinput.css" %>
    <%= stylesheet_link_tag "futsalio/bootstrap-colorpicker/css/bootstrap-colorpicker.css" %>
    <%= stylesheet_link_tag "futsalio/bootstrap-timepicker/css/bootstrap-timepicker.css" %>
    <%= stylesheet_link_tag "futsalio/bootstrap-markdown/css/bootstrap-markdown.min.css" %>
    <%= javascript_include_tag('futsalio/modernizr.js') %>
</head>

<body>

    <!-- FACEBOOK WIDGET -->
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "../../../../connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- /FACEBOOK WIDGET -->
    <div class="global-wrap">
        <header id="main-header">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a class="logo" href="index.html">
                                <img src="img/futsalio.png" style="max-height: 42px" alt="Image Alternative text" title="Image Title" />
                            </a>
                        </div>
                      <% if logged_in?  %>
                        <div class="col-md-9">
                            <div class="top-user-area clearfix">
                                <ul class="top-user-area-list list list-horizontal list-border">
                                    <li class="top-user-area-avatar">
                                        <a href="user-profile.html">
                                            <img class="origin round" src="img/amaze_40x40.jpg" alt="Image Alternative text" title="AMaze" />Hi, John</a>
                                    </li>
                                    <li><a href="/logout">Sign Out</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                      <% else %>
                        <div class="col-md-9">
                            <div class="top-user-area clearfix">
                                <ul class="top-user-area-list list list-horizontal list-border">
                                    <li><a href="/register/index">Sign in or Register</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                      <% end %>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="nav">

                </div>
            </div>
        </header>

